@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/regular.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: Montserrat, "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 34px;
  margin: 0 12px;
  cursor: pointer;
}

.btn--blue {
  background: linear-gradient(180deg, #3884FE 0%, #2344DA 100%);
  padding: 6px 45px;
  color: #ffffff;
  border: none;
  outline: none;
}

.btn--gold {
  padding: 3px 45px;
  background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px solid #FFA751;
}

.btn--gold--2 {
  display: inline-block;
  padding: 3px 42px;
  border-radius: 34px;
  background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn--gold--2 > span {
  background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
}
.header__wrapper {
  margin: 0 auto;
  max-width: 1870px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 135px;
  padding-right: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1560px) {
  .header__wrapper {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 1200px) {
  .header__wrapper {
    position: relative;
    flex-wrap: wrap;
    height: 90px;
  }
}
@media screen and (max-width: 600px) {
  .header__wrapper {
    height: 125px;
  }
}
.header__logo {
  margin-right: 73px;
}
@media screen and (max-width: 600px) {
  .header__logo {
    padding: 10px 0;
    margin-right: 0;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .header__box {
    width: 100%;
    justify-content: center;
  }
}
.header .menu {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .header .menu {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background: #011529;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
}
@media screen and (max-width: 600px) {
  .header .menu {
    top: 125px;
  }
}
.header .menu__item {
  list-style-type: none;
  margin-right: 38px;
}
@media screen and (max-width: 1560px) {
  .header .menu__item {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .header .menu__item {
    padding: 15px 0;
    border-bottom: 2px solid transparent;
    margin-right: 0;
  }
}
@media screen and (max-width: 1200px) {
  .header .menu__item:hover {
    border-color: gold;
  }
}
.header .menu__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 1560px) {
  .header .menu__link {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .header .menu__link {
    font-size: 23px;
  }
}
.header .menu__link:hover {
  background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .burger-menu {
  font-size: 20px;
  color: #ffffff;
  margin-left: 20px;
  display: none;
}
@media screen and (max-width: 1200px) {
  .header .burger-menu {
    display: block;
  }
}
.header .search {
  background: rgba(1, 20, 39, 0.6);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .header .search {
    max-width: 50%;
    overflow: hidden;
  }
}
.header .search__icon {
  color: #ffffff;
}
.header .search__input {
  max-width: 100%;
  overflow: hidden;
}
.header .search__text {
  background: transparent;
  border: none;
  padding-left: 5px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .header .search__text {
    max-width: 100%;
    overflow: hidden;
  }
}
.header .search__text:focus {
  border: none;
  outline: none;
}
.header .lang {
  display: flex;
  align-items: center;
}
.header .lang__button {
  padding: 3px 5px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: -0.05em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
.header .lang__button--active {
  background: linear-gradient(94.96deg, #FFBC7D 9.98%, #FF7A41 100%);
}

.preview {
  height: 100vh;
  background-image: url(../images/preview__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.preview__container {
  margin: 0 auto;
  max-width: 1870px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 135px;
  padding-right: 135px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.preview__title {
  font-size: 70px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
.preview__subtutle {
  font-size: 16px;
  font-weight: 500;
  color: #BEC4CA;
  line-height: 130%;
}
.preview__desc {
  max-width: 655px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 140%;
  margin-top: 56px;
  text-align: center;
}
.preview__buttom {
  margin-top: 20px;
}
.preview__socialNetworks {
  margin: 0 auto;
  max-width: 50px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 135px;
  padding-right: 135px;
  height: 100%;
  /*display: flex;
  justify-content: right;
  align-items: center;*/
  flex-direction: column;
  position: absolute;
  top: 365px;
  right: 130px;
}
.preview__socialNetworks > i {
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  line-height: 140%;
  margin-top: 18px;
}

.info-menu {
  width: 100%;
  height: 63px;
  background-color: #0E3D85;
}
.info-menu .menu {
  width: 1115px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-menu .menu__item {
  margin-left: 33px;
}
.info-menu .menu__item {
  list-style-type: none;
  /*margin-right: 38px;*/
}
.info-menu .menu__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 1560px) {
  .info-menu .menu__link {
    font-size: 20px;
  }
}
.info-menu .menu__link:hover {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
