.content-nav{
    /*height: 100vh;*/
    background-color: #011529; 
    /*: relative;*/
    display: flex;
    justify-content: left;
    align-items: center;

    &__title{
        display: inline-block;
        @include fonts(40px, 700);
        margin-bottom: 35px;
    }

    &__naviga{
        width: 806px;
        height: 396px;
        background-image: url(../images/Group.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        margin-left: 93px;
    }

    &__desc{
        margin-left: 53px;
    }

    &__container{
        @include fonts(16px, 600);
        max-width: 1655px;
        height: 396px;
        margin-left: 131px;
        margin-top: 50px;
        /*display: flex;
        justify-content: left;
        align-items: center;*/

        
    }

    &__subtutle{
        display: flex;
        justify-content: left;
    }

    &__container-stock{
        /*@include container(0,0,0);*/
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;

            &__--inf{
                flex-direction: column;
                
            }

        
        
    }

    &__buttom{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 21px;
        /*flex-direction: column;*/
    }
    
    &__subtutle{
        width: 152px;
        height: 210.74px;
        background-image: url(../images/Union.png);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    
    
}
