.preview{
    height: 100vh;
    background-image: url(../images/preview__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    &__container{
        @include container(0,0,0);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title{
        font-size: 70px;
        font-weight: 600;
        color: $white;
        letter-spacing: -0.05em;
        text-transform: uppercase;
    }

    &__subtutle{
        @include fonts(16px, 500, #BEC4CA);
        line-height: 130%;
    }

    &__desc{
        max-width: 655px;
        @include fonts(14px, normal, $white);
        line-height: 140%;
        margin-top: 56px;
        text-align: center; 
    }

    &__buttom{
        margin-top: 20px;
    }
    
    .eclipese{
        margin-top: 50px;

        &__title{
            @include fonts(20px, 500, $white);
            text-align: center;
        }

        &__wrapper{
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }

        &__item{
            width: 115px;
            height: 115px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 50%;
            background: rgba(2, 2, 28, 0.41);
            backdrop-filter: blur(4px);

            &:nth-child(2){
                margin: 0 15px;
            }
        }

        &__number{
            @include fonts(30px, 700, $white);
        }

        &__signature{
            @include fonts(18px, 400, $white);
        }
    }

    .social{
        position: absolute;
        top: 50%;
        margin-top: -65.5px;
        right: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .fab{
            color: $white;
            font-size: 20px;

            &:not(:last-child){
                margin-bottom: 17px;
            }
        }
    }
}